// border-radius
$sizeRadius: 5px;

// width
$browserMinWidth: 1000px;
$volumeZoneSearchFormTitleWidth: 85px;
$wordCloudWidth: 450px;

//height
$headerHeight: 70px;
$headerSearchPanelHeight: 80%;
$headerSearchPanelButtonsHeight: 100px;
$formPartsHeight: 35px;
$tabHeight: 50px;

// width & heigth
$selectFormPartsSize: 22px;
$searchHistoryPanelSize: 400px;
$balloonArrowSize: 12px;

// position
$balloonArrowTopBottomPosition: 20px;

//font-size
$basicFontSize: 14px;

$appContentPadding: 20px;
$searchResultNavigationHeight: 50px;
