@charset "UTF-8";
/*------------------------------------------------------------
*変数まとめ
------------------------------------------------------------*/
/*------------------------------------------------------------
* 横幅定義
*
* $max_width・・・・コンテンツの最大幅
* $min_width・・・・コンテンツの最小幅
* $width・・・・・・・・コンテンツ幅
*
* ブレークポイントの設定は「${命名}_break_w」で定義
* コメントも必須
*
* 例）
* $pc_break_w・・・PCのブレークポイント
* $sp_break_w・・・SPのブレークポイント
------------------------------------------------------------*/

$max_width: 1000px;
$width: 960px;
$min_width: 320px;

//この数値以上がPC
$pc_break_w: 801px;

//この数値以下がSP
$sp_break_w: $pc_break_w - 1;

// height
$header_height: 150px;
$footer_height: 50px;
$gnavi_height: 18px;
$input_height: 39px;

$border_radius: 5px;
/*------------------------------------------------------------
* カラー定義
*
* 「$is_color_{色}{0x}」で定義
* 数値はできるだけ薄い色～濃い色の順にする
*
* 例）
* $is_color_white : #fff;
* $is_color_wb02 : #000;
------------------------------------------------------------*/
//サイト全体で基本となるカラー
$is_base_color200: #2b806d;
$is_base_color300: desaturate($is_base_color200, 15%);
$is_base_color100: saturate($is_base_color200, 15%);

$is_sub1_color200: #b02828;

//上記ベース以外の追加カラー
$is_color_white: #fff;
$is_color_gray50: #fafafa;
$is_color_gray100: #f5f5f5;
$is_color_gray200: #eee;
$is_color_gray300: #e0e0e0;
$is_color_gray400: #bdbdbd;
$is_color_gray500: #9e9e9e;
$is_color_gray600: #757575;
$is_color_gray700: #616161;
$is_color_gray800: #424242;
$is_color_gray900: #212121;
$is_color_black: #111;

//サイトで基本となるテキストカラー
$is_text_color: $is_color_gray900;

//サイトで使用するテキストリンクカラー
$is_link_color: $is_base_color100;

//テキストリンクho
$is_link_hover_color: $is_base_color100;

//テキストリンクactive
$is_link_active_color: $is_base_color100;

//テキストリンクvisited
$is_link_visited_color: $is_base_color100;

/*------------------------------------------------------------
* z-index定義
*
* 大型のコンポーネントに仕様
* 「${指定class or id名}_num」で定義
* 数値順になるように並べる
* 調整のための 0 や 1 の時は並び替え不要
*
* 例）
* $l-header_num : 100;
* $l-gnavi_num  : 300;
------------------------------------------------------------*/

$l_header_num: 100;
$l_gnavi_num: 300;

/*------------------------------------------------------------
* font-family定義
*
* 「$ff_{font-family名}」で定義
* 「$ff_all」はサイト固定のfont-family
*
* 例）
* $ff_all: "メイリオ", "Meiryo", "ＭＳＰゴシック","ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, sans-serif;
*
* $ff_meiryo: "メイリオ", "Meiryo", sans-serif;
------------------------------------------------------------*/

$ff_all: "メイリオ", "Meiryo", "ＭＳＰゴシック", "ヒラギノ角ゴ ProN W3",
  Hiragino Kaku Gothic ProN, Arial, sans-serif;
$ff_meiryo: "メイリオ", "Meiryo", sans-serif;
$ff_hirakaku: "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, sans-serif;

/*------------------------------------------------------------
* line-height定義
*
* 「 $is_{指定class or id名}_text_lh 」で定義
*
* 例）
* $is_l-header_text_lh : 1.75;
* $is_content_text_lh  : 2;
------------------------------------------------------------*/
//サイトで基本となるテキストカラー
$is_base_text_lh: 1.5;

/*------------------------------------------------------------
* アニメーション速度
*
* 基本速度以外を使用する場合は追加する
* 「 $anime_{指定class or id名}_duration 」で定義
*
* 例）
* $anime_text01_duration : 1s;
* $anime_box01_duration  : 5s;
------------------------------------------------------------*/
//基本アニメーション速度
$anime_base_duration: 0.3s;
