@charset "utf-8";

@import "_webfont";
@import "_element-ui";

/*
 Layout
*/

#app {
  position: relative;
}

#root,
#app,
.modal-wrapper {
  color: #333;
  font-size: 14px;
}

[draggable="true"] {
  cursor: move;
  // drag中の要素を選択できないようにする

  user-select: none;
}

textarea {
  font-family: inherit;
}
