@charset "utf-8";

@import "_color";
@import "_size";
@import "_element-ui";

/*
 Layout
*/
body {
  min-width: $browserMinWidth;
}

#app {
  position: relative;
}

#root,
#app,
.modal-wrapper {
  color: $colorBase900;
  font-size: $basicFontSize;
}

[draggable="true"] {
  cursor: move;
  // drag中の要素を選択できないようにする

  user-select: none;
}

textarea {
  font-family: inherit;
}
